@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;

}
.logo img:hover{
    transform: scale(1.15);
}

.logo a{
    width: 60px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.menu ul li:hover{
    transform: scale(1.30);
}

#selected{
    background: #2ECC71;
    padding: 10px 40px;
    border-radius: 50px;
}
a{
    text-decoration: none;
}

/*COVER*/


.container__cover{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to right, #A9DFBF, #196F3D);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #7DCEA0, #52BE80);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
}


.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}

/*pdf*/
.pdf{
    text-decoration: none;
}
.pdf:hover {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

/* 3 PARTS OF WEB */
.content { padding: 80px 0;text-decoration: none; }

.who {background: linear-gradient(to right, #A9DFBF, #196F3D); color: #fff; text-align: center;}
  .who p { max-width: 1055px; margin: 0 auto;}
.services {background: linear-gradient(to right, #A9DFBF, #196F3D);color: #fff; text-align: center;text-decoration: none;}

.tarifas {background: linear-gradient(to right, #A9DFBF, #196F3D) no-repeat center top; background-size: cover; color: #fff; text-align: center;}
  .contain {max-width: 1055px; margin: 0 auto;text-align: center;}
  .tarifas p {max-width: 450px; text-align: center;}
  .title{text-align: center;}
  article{text-align: center;}

.localization {background: linear-gradient(to right, #A9DFBF, #196F3D);color: #fff; padding-bottom: 0;}
  .localization .map img {max-width: 100%; width: 100%;}

/* 3 LIST  */

.list-services figure { position: relative; width: 150px; height: 190px;}
.list-services figure:after {content: ""; position: absolute; top: 0; left: 0; border-radius: 50%; z-index: 0; background: #fff; width: 150px; height: 150px;}
.list-services img {position: relative; z-index: 1;}
.list-services li { padding: 0 30px; }
.list-services figcaption { position: relative; left: 0; right: 0; bottom: -40px;}

/* 3 ANIMATIONS */





/* 1 LAYOUT */


/*Forms*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }



  
/* SECCION HABILIDADES */
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(to right, #A9DFBF, #196F3D);
    
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
    
}
.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}
.habilidades .contenido-seccion .barra{
    display: flex;
    border: 1px solid #090201;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
    
}
.habilidades .contenido-seccion .barra .e{
    background-color: #363636;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}



